<h1>About mapA</h1>
<p>mapA is a brand new web application designed for students of Ateneo de Manila University that uses a simple algorithm to calculate the shortest path from one location to another to help students quickly get accross campus.<br/><br/>mapA was developed as the final project for the 2014-2015 Summer Semester class of MIS21 A by students Jeremy Tan and JC Velasco.</p>
